<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusExamineMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusExamine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="guest_id" jdbcType="BIGINT" property="guestId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="shiimg" jdbcType="VARCHAR" property="shiimg" />
    <result column="tingimg" jdbcType="VARCHAR" property="tingimg" />
    <result column="weiimg" jdbcType="VARCHAR" property="weiimg" />
    <result column="chuimg" jdbcType="VARCHAR" property="chuimg" />
    <result column="huxingimg" jdbcType="VARCHAR" property="huxingimg" />
    <result column="otherimg" jdbcType="VARCHAR" property="otherimg" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="examine_name" jdbcType="VARCHAR" property="examineName" />
    <result column="examine_time" jdbcType="TIMESTAMP" property="examineTime" />
  </resultMap>
  
  
  <insert id="insertBusExamine" parameterType="com.cubic.api.model.BusExamine">
  		INSERT INTO bus_examine
  					(
  					house_id,
  					guest_id,
  					type,
  					shiimg,
  					tingimg,
  					weiimg,
  					chuimg,
  					huxingimg,
  					otherimg,
  					user_name,
  					state,
  					create_time  				
  					)
  		  VALUES(
	  		  #{houseId},
	  		  #{guestId},
	  		  #{type},
	  		  #{shiimg},
	  		  #{tingimg},
	  		  #{weiimg},
	  		  #{chuimg},
	  		  #{huxing},
	  		  #{otherimg},
	  		  #{userName},
	  		  0,
	  		  NOW()
  					
  					)
  </insert>
    <update id="updateState" parameterType="com.cubic.api.model.BusExamine">
  	 UPDATE bus_examine
  	 SET state = #{state},
  	 	 examine_name=#{examineName},
  	 	 examine_time=NOW()
  	 WHERE 
  	 	id=#{id}
  
  </update>
  
  <update id="updateResult" parameterType="com.cubic.api.model.BusExamine">
  	 UPDATE bus_examine
  	 SET state = #{state},
  	 	 examine_name=#{examineName},
  	 	 result=#{result},
  	 	 content=#{content},
  	 	 examine_time=NOW()
  	 WHERE 
  	 	id=#{id}
  
  </update>
  
  <select id="listBusExamine" resultMap="BaseResultMap">
  	SELECT be.*,su.`relname`  userRelName
	FROM `bus_examine` be ,`sys_user` su
	WHERE 
		be.`user_name`=su.`username` 
		AND su.`store_id`=(SELECT store_id FROM sys_user WHERE username=#{username})
		<if test="state!=null"><!-- 审核状态条件(0:未审核,1:审核中,2:已审核) -->
			AND state=#{state}	
		</if>
		<if test="type!=null"><!-- 审核类型条件(1:特殊房源,2:优质房源,3:无效房源,4:实勘图片,5:无效客源) -->
			AND type=#{type}	
		</if>
		<if test="result!=null"><!-- 审核结果条件(0:未通过,1:通过) -->
			AND result=#{result}	
		</if>
		<if test="userName!=null"><!-- 提交审核的人 -->
			AND user_name=#{userName}	
		</if>	
	    <if test="createTimeStart!=null and createTimeEnd!=null"><!-- 申请时间在两个时间值之间 -->
			<![CDATA[AND create_time > #{createTimeStart}	AND　create_time < #{createTimeEnd}]]>
		</if>
		<if test="examineTimeStart!=null and examineTimeEnd!=null"><!-- 审批时间在两个时间值之间 -->
			<![CDATA[AND examine_time > #{examineTimeStart}	AND　examine_time < #{examineTimeEnd}]]>
		</if>		
  		<if test="examineName!=null"><!-- 审批处理人 -->
			AND examine_name=#{examineName}	
		</if>
  </select>
</mapper>