<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusGuestMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusGuest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="guestname" jdbcType="VARCHAR" property="guestname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="guestgrade" jdbcType="VARCHAR" property="guestgrade" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="heartprice" jdbcType="VARCHAR" property="heartprice" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="areas" jdbcType="VARCHAR" property="areas" />
    <result column="huxing" jdbcType="VARCHAR" property="huxing" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="iskey" jdbcType="VARCHAR" property="iskey" />
    <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="collaboratorids" jdbcType="VARCHAR" property="collaboratorids" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="huxingshi" jdbcType="VARCHAR" property="huxingshi" />
    <result column="huxingting" jdbcType="VARCHAR" property="huxingting" />
    <result column="huxingwei" jdbcType="VARCHAR" property="huxingwei" />
    <result column="huxingchu" jdbcType="VARCHAR" property="huxingchu" />   
     <result column="record_rel_name" jdbcType="VARCHAR" property="recordRelName" />
    <result column="create_rel_name" jdbcType="VARCHAR" property="createRelName" />
  </resultMap>
  
  
  
  <insert id="insertBusGuest" keyProperty="id" useGeneratedKeys="true" parameterType="com.cubic.api.model.BusGuest">
  INSERT INTO `vanke`.`bus_guest`
            (
             `guestname`,
             `sex`,
             `guestgrade`,
             `type`,
             `heartprice`,
             `phone`,
             `remarks`,
             `areas`,
             `huxing`,
             `position`,
             `purpose`,
             `label`,
             `iskey`,
             `record_user_name`,
             `create_user_name`,
             `create_time`,
              record_time,
              huxingshi,
              huxingting,
              huxingwei,
              huxingchu,
              record_rel_name,
              create_rel_name
)	
  			VALUES (
  			#{guestname},
  			#{sex},
  			#{guestgrade},
  			#{type},
  			#{heartprice},
  			#{phone},
  			#{remarks},
  			#{areas},
  			#{huxing},
  			#{position},
  			#{purpose},
  			#{label},
  			0,
  			#{recordUserName},
  			#{createUserName},
  			NOW(),
  			NOW(),
  			#{huxingshi},
  			#{huxingting},
  			#{huxingwei},
  			#{husingchu},
  			(SELECT relname FROM sys_user WHERE username=#{recordUserName}),
  			(SELECT relname FROM sys_user WHERE username=#{createUserName})
  			)
  </insert>
  
  
  	 <update id="updateRecordTime" parameterType="com.cubic.api.model.BusGuest">
	 		UPDATE bus_guest
	 		SET record_time=NOW()
	 		WHERE 
	 			id=#{id}
	 </update>
	 
	 
	 <select id="listBusGuest" parameterType="map" resultMap="BaseResultMap">
	 				
				SELECT
				  `id`,
				  `number`,
				  `guestname`,
				  `sex`,
				  `guestgrade`,
				  `type`,
				  `heartprice`,
				  `remarks`,
				  `areas`,
				  `position`,
				  `purpose`,
				  `label`,
				  `iskey`,
				  `record_user_name`,
				  `create_user_name`,
				  `create_time`,
				  `collaboratorids`,
				  `record_time`,
				  `huxingshi`,
				  `huxingting`,
				  `huxingwei`,
				  `huxingchu`,
				  `isshare`,
				   record_rel_name,
                   create_rel_name
				FROM `vanke`.`bus_guest`
				
				<where>
				1=1
					<if test="isShare ==null || isShare==0">
						and  record_user_name=#{recordUserName}
					 </if>
					 <if test="isShare !=null and isShare==1">
						and  isshare=#{isShare}
					 </if>
					<if test="guestname!=null"><!-- 客源姓名 -->
							and guestname like "%"#{guestname}"%"
					</if>
					
					<if test="sex!=null"><!-- 客源性别 -->
							and sex=#{sex}
					</if>
					
					<if test="guestgrade!=null"><!-- 客源星级 -->
							and guestgrade=#{guestgrade}
					</if>
					
					<if test="type!=null"><!-- 客源类型(0买,1租)-->
							and type=#{type}
					</if>
								
					<if test="collaboratorName!=null"><!-- 查看当前登录人为合作人的客源-->
							and collaboratorids like "%"#{recordUserName}"%"
					</if>
				</where>
	 </select>
	 
	 <update id="updateRecordUser" parameterType="com.cubic.api.model.BusGuest">
	  		UPDATE bus_guest b
	 		SET b.record_user_name=#{recordUserName},
	 			b.record_rel_name=(select su.relname from sys_user su	where su.username=#{recordUserName})
	 		WHERE 
	 		  bh.id=#{id}
	 
	 </update>
	 
	 <select id="listRecordTime" resultMap="BaseResultMap">
	 		SELECT (CASE 
					<![CDATA[WHEN (DATE(NOW())-DATE(record_time))>=10 AND (DATE(NOW())-DATE(record_time)) <15 THEN '1']]>
					<![CDATA[WHEN (DATE(NOW())-DATE(record_time))>=15 THEN '2']]>
					END) casetype,id,record_user_name
				FROM `bus_guest`
				WHERE 
					<![CDATA[(DATE(NOW())-DATE(record_time))>=10]]>
					AND isshare = '0'
	 </select>
</mapper>