<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusGuestLookrecordMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusGuestLookrecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="guest_id" jdbcType="BIGINT" property="guestId" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="feedback" jdbcType="VARCHAR" property="feedback" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  
  <select id="listBusGuestLookrecord" resultType="com.cubic.api.model.BusGuestLookrecord">
  	SELECT bgl.*,su.relname userRelName,bgl.create_time createTime,bh.number AS houseName 
  	FROM bus_guest_lookrecord bgl,sys_user su,`bus_house` bh	
  	WHERE bgl.guest_id=#{id}
  		    and  su.username=bgl.user_name
  			and bh.id=bgl.house_id
  	ORDER BY bgl.create_time DESC	
  </select>
  
  

</mapper>