<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseLikeMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouseLike">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
	<insert id="insertHouseLike" parameterType="com.cubic.api.model.BusHouseLike">
		INSERT INTO bus_house_like
					(
					user_name,
					house_id,
					create_time
					)
					VALUES(
					#{userName},
					#{houseId},
					NOW()
					)
	</insert>
	
	<select id="listHouseLike" parameterType="Map" resultMap="BaseResultMap">
		SELECT * 
		from bus_house_like 
		where 
			user_name=#{userName}
	</select>
	
	<delete id="deleteHouseLike"  parameterType="com.cubic.api.model.BusHouseLike">
			DELETE FROM  bus_house_like 
			WHERE 
				user_name=#{userName}
				and house_id=#{houseId}
	</delete>
	
	
	
  
</mapper>