<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="maxfloor" jdbcType="VARCHAR" property="maxfloor" />
    <result column="huxing" jdbcType="VARCHAR" property="huxing" />
    <result column="areas" jdbcType="VARCHAR" property="areas" />
    <result column="hiddenarea" jdbcType="VARCHAR" property="hiddenarea" />
    <result column="chaoxiang" jdbcType="VARCHAR" property="chaoxiang" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="region_code" jdbcType="VARCHAR" property="region_code" />
    <result column="street_id" jdbcType="VARCHAR" property="street_id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="iskey" jdbcType="VARCHAR" property="iskey" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    
   
  </resultMap>
  
  
  
  <select id="ListBusHouse" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		  `id`,
		  `number`,
		  `title`,
		  `owner`,
		  `price`,
		  `floor`,
		   maxfloor,
		  `huxing`,
		  `areas`,
		   hiddenarea,
		  `chaoxiang`,
		  `grade`,
		  `record_user_name`,
		  `create_user_name`,
		  `create_time`,
		  `introduce`,
		  `type`,
		  `state`,
		  `iskey`,
		   imgurl
		FROM `vanke`.`bus_house`
		<where>
		1=1
			<if test="priceUp == null and priceDown != null"><!-- 金额条件在XXX以下 -->
				<![CDATA[and price <= #{priceDown} ]]>
			</if>
			
			<if test="priceUp != null and priceDown == null"><!-- 金额条件在XXX以上 -->
				<![CDATA[and price >= #{priceUp} ]]>
			</if>
			
			<if test="priceUp != null and priceDown != null"><!-- 金额条件在XXX与XXX之间 -->
				<![CDATA[and price >= #{priceUp} and price <= #{priceDown}]]>
			</if>
			
			<if test="floor != null"><!-- 楼层条件-->
				 and floor = #{floor}
			</if>
			
			<if test="huxing != null"><!-- 户型条件-->
				 and huxing like #{huxing}"%" 
			</if>
			
			<if test="areasUp == null and areasDown != null"><!-- 面积条件在XXX以下 -->
				<![CDATA[and areas <= #{areasDown} ]]>
			</if>
			
			<if test="areasUp != null and areasDown == null"><!-- 面积条件在XXX以上 -->
				<![CDATA[and areas >= #{areasUp} ]]>
			</if>
			
			<if test="areasUp != null and areasDown != null"><!-- 面积条件在XXX与XXX之间 -->
				<![CDATA[and areas >= #{areasUp} and areas <= #{areasDown}]]>
			</if>
			
			<if test="chaoxiang != null"><!-- 朝向条件-->
				 and chaoxiang = #{chaoxiang}
			</if>
		</where>
  
  </select>
  
  
	 <insert id="insertBusHouse" keyProperty="id" useGeneratedKeys="true" parameterType="com.cubic.api.model.BusHouse">
	 	INSERT INTO `vanke`.`bus_house`
	            (
	             `title`,
	             `owner`,
	             `phone`,
	             `price`,
	             `floor`,
	             `huxing`,
	             `areas`,
	             `chaoxiang`,
	             `grade`,
	             `record_user_name`,
	             `create_user_name`,
	             `create_time`,
	             `introduce`,
	             `type`,
	             `state`,
	             region_code,
	             street_id,
	             `address`,
	             `iskey`,
	             	imgurl)
			VALUES (
			        #{title},
			        #{owner},
			        #{phone},
			        #{price},
			        #{floor},
			        #{huxing},
			        #{areas},
			        #{chaoxiang},
			        #{grade},
			        #{recordUserName},
			        #{createUserName},
			        NOW(),
			        #{introduce},
			        #{type},
			        0,
			        #{regionCode},
			        #{streetId},
			        #{address},
			        #{iskey},
			        #{imgurl});
	 </insert>
	 
	 
	 <select id="DetailContacts"  parameterType="Map" resultMap="BaseResultMap">
	 		SELECT owner,phone,(select count(*) 
	 							FROM bus_house_clicklog 
	 							where click_user_name=#{clickusername} 
	 									and create_time like DATE(NOW()
	 									and record_user_name!=#{clickusername} 
	 							group by house_id	)
	 							)   clickcount
	 		FROM bus_house		
	 		WHERE id = #{houseId}	
	 </select>
	 
	  <select id="DetailAddress"  parameterType="Map" resultMap="BaseResultMap">
	 	SELECT address,(select count(*) 
	 							FROM bus_house_clicklog 
	 							where click_user_name=#{clickusername} 
	 									and create_time like DATE(NOW()
	 									and record_user_name!=#{clickusername} 
	 							group by house_id		)
	 							)   clickcount
	 		FROM bus_house		
	 		WHERE id = #{houseId}	
	 </select>
</mapper>