<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseLikeMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouseLike">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_name" jdbcType="VARBINARY" property="userName" />
  </resultMap>
	<insert id="insertHouseLike" parameterType="com.cubic.api.model.BusHouseLike">
		INSERT INTO bus_house_like
					(
					user_name,
					house_id,
					create_time
					)
					VALUES(
					#{userName},
					#{houseId},
					NOW()
					)
	</insert>
  
</mapper>