<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseLookrecordMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouseLookrecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  
  
  <select id="listBusHouseLookrecord" parameterType="Map" resultMap="BaseResultMap">
  		SELECT bhl.* ,su.relname userRelName
  		FROM bus_house_lookrecord bhl
  		LEFT JOIN sys_user su ON  su.username=bhl.user_name
  		WHERE 
  			bhl.house_id=#{houseId}
  		
  		ORDER BY bhl.create_time DESC	
  
  </select>

</mapper>