<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="maxfloor" jdbcType="VARCHAR" property="maxfloor" />
    <result column="areas" jdbcType="VARCHAR" property="areas" />
    <result column="hiddenarea" jdbcType="VARCHAR" property="hiddenarea" />
    <result column="chaoxiang" jdbcType="VARCHAR" property="chaoxiang" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="region_id" jdbcType="BIGINT" property="regionId" />
    <result column="street_id" jdbcType="BIGINT" property="streetId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="iskey" jdbcType="VARCHAR" property="iskey" />
    <result column="key_user_name" jdbcType="VARCHAR" property="keyUserName" />
    <result column="exploration_user_name" jdbcType="VARCHAR" property="explorationUserName" />
    <result column="shiimg" jdbcType="VARCHAR" property="shiimg" />
    <result column="tingimg" jdbcType="VARCHAR" property="tingimg" />
    <result column="weiimg" jdbcType="VARCHAR" property="weiimg" />
    <result column="chuimg" jdbcType="VARCHAR" property="chuimg" />
    <result column="huxingimg" jdbcType="VARCHAR" property="huxingimg" />
    <result column="otherimg" jdbcType="VARCHAR" property="otherimg" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="exclusive_user_name" jdbcType="VARCHAR" property="exclusiveUserName" />
    <result column="numfloor" jdbcType="VARCHAR" property="numfloor" />
    <result column="numunit" jdbcType="VARCHAR" property="numunit" />
    <result column="numhousehold" jdbcType="VARCHAR" property="numhousehold" />
    <result column="searchtext" jdbcType="VARCHAR" property="searchtext" />
    <result column="xiaoqu_name" jdbcType="VARCHAR" property="xiaoquName" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="isfine" jdbcType="VARCHAR" property="isfine" />
    <result column="isshare" jdbcType="VARCHAR" property="isshare" />
    <result column="record_rel_name" jdbcType="VARCHAR" property="recordrelName" />
    <result column="create_rel_name" jdbcType="VARCHAR" property="createrelName" />
    <result column="key_rel_name" jdbcType="VARCHAR" property="keyrelName" />
    <result column="exploration_rel_name" jdbcType="VARCHAR" property="explorationrelName" />
    <result column="exclusive_rel_name" jdbcType="VARCHAR" property="exclusiverelName" />
    <result column="titleimg" jdbcType="VARCHAR" property="titleimg" />
    <result column="owner1" jdbcType="VARCHAR" property="owner1" />
    <result column="phone1" jdbcType="VARCHAR" property="phone1" />
    <result column="key_number" jdbcType="VARCHAR" property="keyNumber" />
    <result column="key_store_id" jdbcType="VARCHAR" property="keyStoreId" />
    <result column="layout" jdbcType="VARCHAR" property="layout" />
  </resultMap>
  
  <sql id="selectSql">
   			bh.`id`,
		  bh.`number`,
		  bh.`owner`,
		  bh.`price`,
		  bh.`floor`,
		  bh.maxfloor,
		  bh.`areas`,
		  bh.hiddenarea,
		  bh.`chaoxiang`,
		  bh.`grade`,
		  bh.`record_user_name`,
		  bh.`create_user_name`,
		  bh.`create_time`,
		  bh.`introduce`,
		  bh.`type`,
		  bh.`state`,
		  bh.`iskey`,
		  bh.key_user_name,
		  bh.exploration_user_name,
		  bh.shiimg,
		  bh.tingimg,
		  bh.weiimg,
		  bh.chuimg,
		  bh.huxingimg,
		  bh.otherimg,
		  bh.exclusive_user_name,
		  bh.exclusive_rel_name,
		  bh.record_time,
		  bh.isshare,
		  bh.isfine,
		  bh.isspecial,
		  CONCAT(bh.huxingshi,'-',bh.huxingting,'-',bh.huxingchu,'-',bh.huxingwei) AS huxing,
		  bh.huxingshi,
		  bh.huxingting,
		  bh.huxingwei,
		  bh.huxingchu,
		  bh.record_rel_name,
		  bh.create_rel_name,
		  bh.key_rel_name,
		  bh.exploration_rel_name,
		  bh.xiaoqu_name,
		  bh.titleimg,
		  bh.key_store_id,
		  bh.key_number,
		  bh.layout,
		  bh.`phone`
		  
  </sql>
  
  <select id="ListBusHouse" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		 <include refid="selectSql"/>
		 
		  
		FROM bus_house bh,base_store_range  bsr,sys_user su
		
		
		<where>
		   1=1
			<if test="(priceUp == null or priceUp == '') and (priceDown != null and priceDown != '')"><!-- 金额条件在XXX以下 -->
				<![CDATA[and bh.price < #{priceDown}+0 ]]>
			</if>
			
			<if test="(priceUp != null and priceUp != '') and (priceDown == null or priceDown == '')"><!-- 金额条件在XXX以上 -->
				<![CDATA[and bh.price > #{priceUp}+0 ]]>
			</if>
			
			<if test="(priceUp != null and priceUp != '') and (priceDown != null and priceDown != '')"><!-- 金额条件在XXX与XXX之间 -->
				<![CDATA[and bh.price >= #{priceUp}+0 and bh.price < #{priceDown}+0]]>
			</if>
			
			<if test="floorType != null and floorType != 0 "><!-- 楼层条件-->
				<if test="floorType==1"><!-- 低楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) <= (CONVERT(bh.`maxfloor`,SIGNED)/3)]]>
				</if>
				
				<if test="floorType==2"><!-- 中楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) > (CONVERT(bh.`maxfloor`,SIGNED)/3) and CONVERT(bh.`floor`,SIGNED) <= (CONVERT(bh.`maxfloor`,SIGNED)/2)+(CONVERT(bh.`maxfloor`,SIGNED)/10)]]>
				</if>
				
				<if test="floorType==3"><!-- 高楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) >  (CONVERT(bh.`maxfloor`,SIGNED)/2)+(CONVERT(bh.`maxfloor`,SIGNED)/10)]]>
				</if>
			</if>
			
			<if test="searchText != null and searchText != ''"><!-- 搜索条件-->
				 and bh.searchtext like "%"#{searchText}"%"
			</if>
			
			<if test="huxingType != null and huxingType != 0"><!-- 户型几室条件-->
				<if test="huxingType == 6 "><!-- 户型5室以上条件-->
					 <![CDATA[ and CONVERT(bh.huxingshi,SIGNED) > 5 ]]>
				</if>
				<if test="huxingType != 6 "><!-- 户型几室条件-->
					and bh.huxingshi = #{huxingType}
				</if>
				 
			</if>
			
			<if test="huxingting != null"><!-- 户型几厅条件-->
				 and bh.huxingting = #{huxingting}
			</if>
			<if test="huxingwei != null"><!-- 户型几卫条件-->
				 and bh.huxingwei = #{huxingwei}
			</if>
			<if test="huxingchu != null"><!-- 户型几厨条件-->
				 and bh.huxingchu = #{huxingchu}
			</if>
			
			<if test="(areasUp == null) and (areasDown != null)"><!-- 面积条件在XXX以下 -->
				<![CDATA[and bh.areas < #{areasDown}+0 ]]>
			</if>
			
			<if test="(areasUp != null) and (areasDown == null)"><!-- 面积条件在XXX以上 -->
				<![CDATA[and bh.areas > #{areasUp}+0 ]]>
			</if>
			
			<if test="(areasUp != null) and (areasDown != null)"><!-- 面积条件在XXX与XXX之间 -->
				<![CDATA[and bh.areas >= #{areasUp}+0 and bh.areas < #{areasDown}+0]]>
			</if>
			
			<if test="chaoxiang != null"><!-- 朝向条件-->
				 and bh.chaoxiang = #{chaoxiang}
			</if>
			
			<if test="regionCode != null and regionCode!=0"><!-- 区条件-->
				 and bh.region_code = #{regionCode}
			</if>
			<if test="streetId != null and  streetId != ''"><!-- 街道条件-->
				 and bh.street_id = #{streetId}
			</if>
			<if test="xiaoquName != null and xiaoquName != ''"><!--  小区查询-->
				and  xiaoqu_name like "%"#{xiaoquName}"%"
			</if>
			<if test="number != null and number != ''"><!--  编号查询-->
				and  number like "%"#{number}"%"
			</if>
		
			
			<if test="state != null"><!-- 状态条件-->
				 and bh.state = #{state}
			</if>
			<if test="isspecial != null"><!-- 特殊房源条件-->
				 and bh.isspecial = #{isspecial}
			</if>
			<if test="type != null"><!-- 类型条件-->
				 and bh.type = #{type}
			</if>
			<if test="isshare!=null and isshare == 0">
			     and bh.isshare = 0
			</if>
			<if test="rangeType!=null and rangeType==2"><!-- 共享房源条件-->
				 and  su.username=#{userName}	
				 and  bsr.store_id=su.store_id					
				 and  bh.region_name=bsr.region_name
				 and  bh.street_name=bsr.street_name
				 and bh.isshare = 1
			</if>
			
			<if test="grade != null"><!-- 房源等级条件-->
				 and bh.grade = #{grade}
			</if>
			<if test="iskey != null"><!-- 是否有钥匙条件-->
				 and bh.iskey = #{iskey}
			</if>
			
			<if test="rangeType!=null and rangeType==1"><!-- 范围盘条件-->
					and  su.username=#{userName}	
					and  bsr.store_id=su.store_id					
					and  bh.region_name=bsr.region_name
					and  bh.street_name=bsr.street_name
				
			</if>
			<if test="recordUserName!=null"><!-- 维护人的条件 -->
					and record_user_name=#{recordUserName}
			</if>
	
		</where>
		group by  bh.id
		order by  bh.create_time desc
  
  </select>
  
  
	 <insert id="insertBusHouse" keyProperty="id" useGeneratedKeys="true" parameterType="com.cubic.api.model.BusHouse">
	 	INSERT INTO bus_house
	            (
	             `owner`,
	             `phone`,
	             `price`,
	             `floor`,
	              maxfloor,
	              numfloor,
				  numunit,
				  numhousehold,
	             huxingshi,
	             huxingting,
	             huxingwei,
	             huxingchu,
	             `areas`,
	              hiddenarea,
	             `chaoxiang`,
	             `grade`,
	             `record_user_name`,
	             `create_user_name`,
	             `create_time`,
	             `introduce`,
	             `type`,
	             `state`,
				  region_code,
	              street_id,
	              xiaoqu_name,
	              region_name,
	              street_name,
	             `address`,
	             `iskey`,	             
				  record_time,
				  isfine,
				  isshare,
				  isspecial,
				  searchtext,
				  record_rel_name,
				  create_rel_name,
				  `owner1`,
				  `phone1`,
				  layout
				  <if test="iskey==1">
				  	,key_rel_name
				  	 ,key_user_name
				  	 ,key_store_id
		  			,key_number
				  </if>
	             
	             )
			VALUES (
			        #{owner},
			        #{phone},
			        #{price},
			        #{floor},
			        #{maxfloor},
			        #{numfloor},
			        #{numunit},
			        #{numhousehold},
			        #{huxingshi},
			        #{huxingting},
			        #{huxingwei},
			        #{huxingchu},
			        #{areas},
			        #{hiddenarea},
			        #{chaoxiang},
			        #{grade},
			        #{recordUserName},
			        #{createUserName},
			        NOW(),
			        #{introduce},
			        #{type},
			        0,
			        #{regionCode},
			        #{streetId},
			        #{xiaoquName},
			        (select region_name from base_region where region_code=#{regionCode}),
			        (select street_name from base_street where id=#{streetId}),
			        #{address},			      
			        #{iskey},	       
			     	NOW(),
			     	0,
			     	0,
			     	0,
			     	CONCAT_WS('','大连市',(select region_name from base_region where region_code=#{regionCode}),(select street_name from base_street where id=#{streetId}),#{xiaoquName},#{address},#{numfloor},#{numunit},#{numhousehold}),
			     	(SELECT relname FROM sys_user WHERE username=#{recordUserName}),
			     	(SELECT relname FROM sys_user WHERE username=#{recordUserName}),
			     	#{owner1},
				  	#{phone1},
				  	 #{layout}
			     	<if test="iskey==1">
				  	,(SELECT relname FROM sys_user WHERE username=#{recordUserName})
				  	,#{recordUserName},
				  	#{keyStoreId},
				  	#{keyNumber}
					</if>
				  
				);
	 </insert>
	 
	 
	 <select id="DetailContacts"  parameterType="Map" resultMap="BaseResultMap">
	 		SELECT bh.owner,bh.phone,bh.record_user_name,bh.`owner1`,
				 bh.`phone1`,
				  (select COUNT(DISTINCT house_id) 
	 							FROM bus_house_clicklog 
	 							where click_user_name=#{clickusername} 
	 									and DATE(create_time) = DATE(NOW())
	 									and record_user_name!=#{clickusername} 
	 									and type='1'
	 							
	 							)  AS clickcount
	 		FROM bus_house bh		
	 		WHERE bh.id = #{houseId}	and bh.isshare = '0'
	 </select>
	 
	  <select id="DetailAddress"  parameterType="Map" resultMap="BaseResultMap">
	 	SELECT bh.record_user_name,
	 	 		bh.xiaoqu_name,
	            bh.region_name,
	            bh.street_name,
	            bh.numfloor,
				bh.numunit,
				bh.floor,
				bh.numhousehold,
				bh.address,(select COUNT(DISTINCT house_id)  
	 							FROM bus_house_clicklog  
	 							where click_user_name=#{clickusername} 
	 									and DATE(create_time) = DATE(NOW())
	 									and record_user_name!=#{clickusername} 
	 									and type='2'
	 									
	 							) AS  clickcount
	 		FROM bus_house	bh	
	 		WHERE bh.id = #{houseId}	and bh.isshare = '0'
	 </select>
	 
	 
	 <update id="updateRecordTime" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house
	 		SET record_time=NOW()
	 		WHERE 
	 			id=#{id}
	 </update>
	 
	 <update id="updateRecordUser" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.record_user_name=#{recordUserName},
	 			bh.record_time=NOW(),
	 			bh.record_rel_name=(select su.relname from sys_user su	where su.username=#{recordUserName})
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
	 
	 <update id="updateKey" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.iskey=#{iskey},
	 			bh.key_user_name=#{keyUserName},
	 			bh.key_rel_name=(select su.relname from sys_user su	where su.username=#{keyUserName}),
	 			bh.key_store_id=#{keyStoreId},
				bh.key_number=#{keyNumber}
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
	 
	 <update id="updateCancelKey" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.iskey=0,
	 			bh.key_user_name='',
	 			bh.key_rel_name='',
	 			bh.key_store_id='',
				bh.key_number=''
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
	 <update id="updateShareState" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.isshare=#{isshare},
	 			bh.record_user_name=#{recordUserName},
	 			bh.record_time=NOW(),
	 			bh.record_rel_name=(select su.relname from sys_user su	where su.username=#{recordUserName})
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
	 
	 
	 <select id="listRecordTime" resultMap="BaseResultMap">
				SELECT bh.id,su.`username` record_user_name,
						(CASE 
							<![CDATA[WHEN TO_DAYS(NOW())-TO_DAYS(bh.record_time)>=10 AND TO_DAYS(NOW())-TO_DAYS(bh.record_time) <15 THEN '1']]>
							<![CDATA[WHEN TO_DAYS(NOW())-TO_DAYS(bh.record_time)>=15 THEN '2']]>
							END) casetype  
				FROM `bus_house` bh 
				LEFT JOIN `sys_user` su  ON ( su.`username`=bh.`record_user_name` OR su.`username` IN (SELECT user_name FROM  bus_house_like WHERE `house_id`=bh.`id`))
				LEFT JOIN sys_user_role sur ON su.id = sur.user_id AND sur.role_id = 2
				WHERE 
				<![CDATA[(TO_DAYS(NOW())-TO_DAYS(bh.record_time)) >= 10	]]>
					AND  bh.isshare = '0'			 
	 </select>
	 
	 
	<select id="listMyLikeHouse" parameterType="Map" resultMap="BaseResultMap">
				SELECT   
				<include refid="selectSql"/>
				FROM `bus_house` bh, bus_house_like bhl
				WHERE 
					bhl.user_name=#{userName}
					and bhl.house_id=bh.id
				ORDER BY bhl.create_time DESC	
	</select>
	
	<select id="listIsfine" parameterType="Map" resultMap="BaseResultMap">
		SELECT   
				<include refid="selectSql"/>
			FROM bus_house bh,base_store_range  bsr,sys_user su		
	
				WHERE   
				 su.username=#{userName}	
				 and  su.store_id=(SELECT store_id FROM `sys_user` WHERE username=bh.record_user_name)
				 and bh.isfine = 1
				 and bh.state=0
		group by  bh.id
		order by  bh.create_time desc
	</select>
	
	
	<select id="detailHouse" parameterType="map" resultMap="BaseResultMap">
			SELECT
				 <include refid="selectSql"/>
				 ,su.phone   recordUesrPhone
				 ,(SELECT  COUNT(1) 
				           FROM `bus_house_like` 
				            WHERE 
				             house_id=bh.id 
				             AND user_name=#{username}
				) likeType,
				(DATE_ADD(create_time,INTERVAL 1 DAY)>NOW()) explorationTimeType,
				(SELECT be.state FROM  bus_examine be WHERE be.house_id=bh.`id` AND be.state = 0 AND be.type=4)  examineState
				,bs.store_name ketStoreName
				FROM bus_house bh
				LEFT JOIN sys_user su	 ON su.username=bh.record_user_name
				LEFT JOIN base_store bs  ON bs.id=bh.key_store_id
				WHERE 
					bh.id=#{id}
	</select>
	
	<update id="updateIsShareNull" parameterType="com.cubic.api.model.BusHouse">
	UPDATE bus_house
	SET record_user_name=NULL,
	     record_rel_name=NULL,
	     isshare='1'
	WHERE 
		   id=#{id}
	</update>
	
	<select id="findIsAddress" parameterType="com.cubic.api.model.BusHouse" resultMap="BaseResultMap">
		SELECT * 
		FROM bus_house
		WHERE
						region_code= #{regionCode}
						and street_id=#{streetId}
						and xiaoqu_name=#{xiaoquName}
						and numfloor=#{numfloor}
						and numunit=#{numunit}
						and numhousehold=#{numhousehold}
						and floor=#{floor}
			AND state <![CDATA[<>]]>'1'
	</select>
</mapper>