<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseClicklogMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouseClicklog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="click_user_name" jdbcType="VARCHAR" property="clickUserName" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  
  
  <insert id="insertClickLog" parameterType="com.cubic.api.model.BusHouseClicklog">
  		INSERT INTO bus_house_clicklog 
  					(click_user_name,
  					house_id,
  					record_user_name,
  					create_time,
  					type
  					)
  					VALUES(
  					#{clickUserName},
  					#{houseId},
  					#{recordUserName},
  					NOW(),
  					#{type}
  					)
  </insert>
  
  
  <select id="listClickLog" parameterType="map" resultMap="BaseResultMap">
  	SELECT bhc.*,su.relname clickRelName
  	FROM bus_house_clicklog  bhc
  	LEFT JOIN  sys_user su ON bhc.click_user_name=su.username
  	WHERE 
  		bhc.house_id=#{houseId}
  		AND bhc.type=#{type}
  	ORDER BY bhc.create_time	DESC
  </select>
</mapper>