<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.BusHouseMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.BusHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="maxfloor" jdbcType="VARCHAR" property="maxfloor" />
    <result column="huxing" jdbcType="VARCHAR" property="huxing" />
    <result column="areas" jdbcType="VARCHAR" property="areas" />
    <result column="hiddenarea" jdbcType="VARCHAR" property="hiddenarea" />
    <result column="chaoxiang" jdbcType="VARCHAR" property="chaoxiang" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="region_id" jdbcType="BIGINT" property="regionId" />
    <result column="street_id" jdbcType="BIGINT" property="street_id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="iskey" jdbcType="VARCHAR" property="iskey" />
    <result column="key_user_name" jdbcType="VARCHAR" property="keyUserName" />
    <result column="exploration_user_name" jdbcType="VARCHAR" property="explorationUserName" />
    <result column="shiimg" jdbcType="VARCHAR" property="shiimg" />
    <result column="tingimg" jdbcType="VARCHAR" property="tingimg" />
    <result column="weiimg" jdbcType="VARCHAR" property="weiimg" />
    <result column="chuimg" jdbcType="VARCHAR" property="chuimg" />
    <result column="huxingimg" jdbcType="VARCHAR" property="huxingimg" />
    <result column="otherimg" jdbcType="VARCHAR" property="otherimg" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="exclusive_user_name" jdbcType="VARCHAR" property="exclusiveUserName" />
    <result column="numfloor" jdbcType="VARCHAR" property="numfloor" />
    <result column="numunit" jdbcType="VARCHAR" property="numunit" />
    <result column="numhousehold" jdbcType="VARCHAR" property="numhousehold" />
    <result column="searchtext" jdbcType="VARCHAR" property="searchtext" />
    <result column="xiaoqu_name" jdbcType="VARCHAR" property="xiaoquName" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="isfine" jdbcType="VARCHAR" property="isfine" />
    <result column="isshare" jdbcType="VARCHAR" property="isshare" />
    <result column="record_rel_name" jdbcType="VARCHAR" property="recordrelName" />
    <result column="create_rel_name" jdbcType="VARCHAR" property="createrelName" />
    <result column="key_rel_name" jdbcType="VARCHAR" property="keyrelName" />
    <result column="exploration_rel_name" jdbcType="VARCHAR" property="explorationrelName" />
  </resultMap>
  
  
  
  <select id="ListBusHouse" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		  bh.`id`,
		  bh.`number`,
		  bh.`owner`,
		  bh.`price`,
		  bh.`floor`,
		  bh.maxfloor,
		  bh.numfloor,
		  bh.numunit,
		  bh.numhousehold,
		  bh.`areas`,
		  bh.hiddenarea,
		  bh.`chaoxiang`,
		  bh.`grade`,
		  bh.`record_user_name`,
		  bh.`create_user_name`,
		  bh.`create_time`,
		  bh.`introduce`,
		  bh.`type`,
		  bh.`state`,
		  bh.`iskey`,
		  bh.key_user_name,
		  bh.exploration_user_name,
		  bh.shiimg,
		  bh.tingimg,
		  bh.weiimg,
		  bh.chuimg,
		  bh.huxingimg,
		  bh.otherimg,
		  bh.exclusive_user_name,
		  bh.record_time,
		  bh.isshare,
		  bh.isfine,
		  bh.huxingshi,
		  bh.huxingting,
		  bh.huxingwei,
		  bh.huxingchu,
		  bh.record_rel_name,
		  bh.create_rel_name,
		  bh.key_rel_name,
		  bh.exploration_rel_name
		  
		FROM bus_house bh,base_store_range  bsr,sys_user su	
		
		
		<where>
		   1=1
			<if test="priceUp == null and priceDown != null"><!-- 金额条件在XXX以下 -->
				<![CDATA[and bh.price <= #{priceDown} ]]>
			</if>
			
			<if test="priceUp != null and priceDown == null"><!-- 金额条件在XXX以上 -->
				<![CDATA[and bh.price >= #{priceUp} ]]>
			</if>
			
			<if test="priceUp != null and priceDown != null"><!-- 金额条件在XXX与XXX之间 -->
				<![CDATA[and bh.price >= #{priceUp} and bh.price <= #{priceDown}]]>
			</if>
			
			<if test="floorType != null"><!-- 楼层条件-->
				<if test="floorType==1"><!-- 低楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) <= (CONVERT(bh.`maxfloor`,SIGNED)/3)]]>
				</if>
				
				<if test="floorType==2"><!-- 中楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) > (CONVERT(bh.`maxfloor`,SIGNED)/3) and CONVERT(bh.`floor`,SIGNED) <= (CONVERT(bh.`maxfloor`,SIGNED)/2)+(CONVERT(bh.`maxfloor`,SIGNED)/10)]]>
				</if>
				
				<if test="floorType==3"><!-- 高楼层条件-->
					<![CDATA[and CONVERT(bh.`floor`,SIGNED) >  (CONVERT(bh.`maxfloor`,SIGNED)/2)+(CONVERT(bh.`maxfloor`,SIGNED)/10)]]>
				</if>
			</if>
			
			<if test="searchText != null"><!-- 搜索条件-->
				 and bh.searchtext like "%"#{searchText}"%"
			</if>
			
			<if test="huxingshi != null"><!-- 户型几室条件-->
				<if test="huxingshi == 6 "><!-- 户型5室以上条件-->
					 and CONVERT(bh.huxingshi,SIGNED) >= 5
				</if>
				<if test="huxingshi != 6 "><!-- 户型几室条件-->
					and bh.huxingshi = #{huxingshi}
				</if>
				 
			</if>
			
			<if test="huxingting != null"><!-- 户型几厅条件-->
				 and bh.huxingting = #{huxingting}
			</if>
			<if test="huxingwei != null"><!-- 户型几卫条件-->
				 and bh.huxingwei = #{huxingwei}
			</if>
			<if test="huxingchu != null"><!-- 户型几厨条件-->
				 and bh.huxingchu = #{huxingchu}
			</if>
			
			<if test="areasUp == null and areasDown != null"><!-- 面积条件在XXX以下 -->
				<![CDATA[and bh.areas <= #{areasDown} ]]>
			</if>
			
			<if test="areasUp != null and areasDown == null"><!-- 面积条件在XXX以上 -->
				<![CDATA[and bh.areas >= #{areasUp} ]]>
			</if>
			
			<if test="areasUp != null and areasDown != null"><!-- 面积条件在XXX与XXX之间 -->
				<![CDATA[and bh.areas >= #{areasUp} and bh.areas <= #{areasDown}]]>
			</if>
			
			<if test="chaoxiang != null"><!-- 朝向条件-->
				 and bh.chaoxiang = #{chaoxiang}
			</if>
			
			<if test="regionId != null"><!-- 区条件-->
				 and bh.region_id = #{regionId}
			</if>
			<if test="streetId != null"><!-- 街道条件-->
				 and bh.street_id = #{streetId}
			</if>
			
			<if test="isfine != null"><!-- 优质房源条件-->
				 and bh.isfine = #{isfine}
			</if>
			
			<if test="state != null"><!-- 状态条件-->
				 and bh.state = #{state}
			</if>
			<if test="type != null"><!-- 类型条件-->
				 and bh.type = #{type}
			</if>
			<if test="isShare != null"><!-- 共享房源条件-->
				 and  su.username=#{userName}	
				 and  bsr.store_id=su.store_id					
				 and  bh.region_name=bsr.region_name
				 and  bh.street_name=bsr.street_name
				 and bh.isshare = #{isShare}
			</if>
			
			<if test="grade != null"><!-- 房源等级条件-->
				 and bh.grade = #{grade}
			</if>
			<if test="iskey != null"><!-- 是否有钥匙条件-->
				 and bh.iskey = #{iskey}
			</if>
			
			<if test="rangeType!=null and rangeType==1"><!-- 范围盘条件-->
					and  su.username=#{userName}	
					and  bsr.store_id=su.store_id					
					and  bh.region_name=bsr.region_name
					and  bh.street_name=bsr.street_name
				
			</if>
	
		</where>
		group by  bh.id
		order by  bh.create_time desc
  
  </select>
  
  
	 <insert id="insertBusHouse" keyProperty="id" useGeneratedKeys="true" parameterType="com.cubic.api.model.BusHouse">
	 	INSERT INTO `vanke`.`bus_house`
	            (
	             `owner`,
	             `phone`,
	             `price`,
	             `floor`,
	              maxfloor,
	              numfloor,
				  numunit,
				  numhousehold,
	             huxingshi,
	             huxingting,
	             huxingwei,
	             huxingchu,
	             `areas`,
	              hiddenarea,
	             `chaoxiang`,
	             `grade`,
	             `record_user_name`,
	             `create_user_name`,
	             `create_time`,
	             `introduce`,
	             `type`,
	             `state`,
	              region_id,
	              street_id,
	              xiaoqu_name,
	              region_name,
	              street_name,
	             `address`,
	             `iskey`,
	              key_user_name,
				  record_time,
				  isfine,
				  searchtext,
				  record_rel_name,
				  create_rel_name
				  <if test="iskey==1">
				  	,key_rel_name
				  </if>
	             )
			VALUES (
			        #{owner},
			        #{phone},
			        #{price},
			        #{floor},
			        #{maxfloor},
			        #{numfloor},
			        #{numunit},
			        #{numhousehold},
			        #{huxingshi},
			        #{huxingting},
			        #{huxingwei},
			        #{huxingchu},
			        #{areas},
			        #{hiddenarea},
			        #{chaoxiang},
			        #{grade},
			        #{recordUserName},
			        #{createUserName},
			        NOW(),
			        #{introduce},
			        #{type},
			        0,
			        #{regionId},
			        #{streetId},
			        #{xiaoquName},
			        #{regionName},
			        #{streetName},
			        #{address},			      
			        #{iskey},
			        #{keyUserName},			       
			     	NOW(),
			     	0,
			     	#{searchtext},
			     	(SELECT relname FROM sys_user WHERE username=#{recordUserName}),
			     	(SELECT relname FROM sys_user WHERE username=#{recordUserName})  
			     	<if test="iskey==1">
				  	,(SELECT relname FROM sys_user WHERE username=#{recordUserName})
				    </if>			);
	 </insert>
	 
	 
	 <select id="DetailContacts"  parameterType="Map" resultMap="BaseResultMap">
	 		SELECT bh.owner,bh.phone,bh.record_user_name,(select count(*) 
	 							FROM bus_house_clicklog 
	 							where click_user_name=#{clickusername} 
	 									and DATE(create_time) = DATE(NOW())
	 									and record_user_name!=#{clickusername} 
	 									and type='1'
	 							group by house_id	
	 							)   clickcount
	 		FROM bus_house bh		
	 		WHERE bh.id = #{houseId}	
	 </select>
	 
	  <select id="DetailAddress"  parameterType="Map" resultMap="BaseResultMap">
	 	SELECT bh.record_user_name,bh.address,(select count(*) 
	 							FROM bus_house_clicklog 
	 							where click_user_name=#{clickusername} 
	 									and DATE(create_time) = DATE(NOW())
	 									and record_user_name!=#{clickusername} 
	 									and type='2'
	 							group by house_id		
	 							)   clickcount
	 		FROM bus_house	bh	
	 		WHERE bh.id = #{houseId}	
	 </select>
	 
	 
	 <update id="updateRecordTime" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house
	 		SET record_time=NOW()
	 		WHERE 
	 			id=#{id}
	 </update>
	 
	 <update id="updateRecordUser" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.record_user_name=#{recordUserName},
	 			bh.record_rel_name=(select su.relname from sys_user su	where su.username=#{recordUserName})
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
	 
	 <update id="updateKey" parameterType="com.cubic.api.model.BusHouse">
	 		UPDATE bus_house bh
	 		SET bh.iskey=#{iskey},
	 			bh.key_user_name=#{keyUserName},
	 			bh.key_rel_name=(select su.relname from sys_user su	where su.username=#{keyUserName})
	 		WHERE 
	 		  bh.id=#{id}
	 </update>
</mapper>