<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.cubic.api.model.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_adress" jdbcType="VARCHAR" property="storeAdress" />
    <collection property="userlist" column="id" ofType="com.cubic.api.model.User" select="selectUserList"/>
  </resultMap>
  
  
    <select id="ListBaseStore" parameterType="map"  resultType="com.cubic.api.model.Store">
  		SELECT bs.store_name storeName,bs.store_adress storeAdress,bs.id
  		FROM `base_store` bs
  		LEFT JOIN `sys_user` su ON bs.`id`=su.`store_id`
  		WHERE 
  			1=1 
  			<if test="role!=null and role !=1"><!-- 除了admin以外,都只能看自己的门店 -->
  				AND su.`username`=#{username}
  			</if>
  		GROUP BY bs.`id`
  	</select> 
  	
  	
  	<insert id="insertBaseStore" keyProperty="id" useGeneratedKeys="true"  parameterType="com.cubic.api.model.Store">
  		INSERT INTO base_store
  			          (
		             `store_name`,
		             `store_adress`)
		             VALUES(
		             #{storeName},
		             #{storeAdress}
		             )
  	
  	</insert>
  	
  	
  	<insert id="insertStoreRange"  parameterType="map">
  		INSERT INTO `base_store_range`
            (
             `store_id`,
             `region_name`,
             `street_name`)
		VALUES (
		        #{storeId},
		        (SELECT br.region_name FROM `base_region` br ,`base_street` bs WHERE bs.`region_code`=br.`region_code` AND bs.`id`=#{streetId}),
		        (SELECT street_name FROM `base_street` WHERE id = #{streetId}));
  	
  	</insert>
  	
  	<select id="selectUserList" resultType="com.cubic.api.model.User">
  			SELECT id,user_no,relname,phone 
  			FROM `sys_user`
  			WHERE 
  				store_id=#{id}
  	
  	</select>
  	
  	<select id="storeUser" resultMap="BaseResultMap">
  			select id,store_name
  			from  base_store
  			
  	</select>
  	
  	
  	<select id="storeIF" parameterType="com.cubic.api.model.Store" resultType="com.cubic.api.model.Store">
  			SELECT id 
  			from base_store 
  			where 
  				store_name=#{storeName}
  	</select>
</mapper>