<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubic.api.mapper.UserMapper">

    <resultMap id="UserMap" type="com.cubic.api.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="resume" jdbcType="VARCHAR" property="resume"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="relname" jdbcType="VARCHAR" property="relname"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="store_id" jdbcType="BIGINT" property="store_id"/>
    </resultMap>

    <resultMap id="UserWithRoleMap" type="com.cubic.api.model.User" extends="UserMap">
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <select id="findAllUserWithRole" resultMap="UserWithRoleMap">
        SELECT
        u.*,
        r.id as role_id,
        r.name as role_name
        FROM `sys_user` u
        LEFT JOIN `sys_user_role` ur ON u.id = ur.user_id
        LEFT JOIN `sys_role` r ON ur.role_id = r.id
    </select>

    <resultMap id="UserDetailMap" type="com.cubic.api.model.User" extends="UserWithRoleMap">
        <!-- 1角色对应多权限 -->
        <collection property="permissionCodeList" ofType="String">
            <result column="permission_code" jdbcType="VARCHAR" property="code" />
        </collection>
    </resultMap>

    <select id="findDetailBy" resultMap="UserDetailMap">
        SELECT
        u.*,
        r.id as role_id,
        r.name as role_name,
        p.code as permission_code
        FROM `sys_user` u
        LEFT JOIN `sys_user_role` ur ON u.id = ur.user_id
        LEFT JOIN `sys_role` r ON ur.role_id = r.id
        LEFT JOIN `sys_role_permission` rp ON r.id = rp.role_id
        LEFT JOIN `sys_permission` p ON rp.permission_id = p.id
        <where>
            <if test="id != null">u.id = #{id}</if>
            <if test="email != null">u.email = #{email}</if>
            <if test="username != null">u.username = #{username}</if>
        </where>
    </select>

    <update id="updateLoginTimeByUsername">
        UPDATE `sys_user` SET
        login_time = NOW()
        WHERE username = #{username}
    </update>
    
    <select id="listUserInfo" parameterType="map" resultMap="UserMap"> 
	    	SELECT 
	    		  `id`,
				  `user_no`,			
				  `username`,			
				  `relname`
	    	FROM 	`sys_user`
	    	WHERE 
	    		relname = #{usertext}  or user_no = "VK000"#{usertext}
	    		AND sign<![CDATA[<>]]>'0'
    </select>
    
    <insert id="registerUser" keyProperty="id" useGeneratedKeys="true"  parameterType="com.cubic.api.model.User">
      	INSERT INTO `sys_user`
      	          (
             `username`,
             `password`,
             `register_time`,
             `phone`,
             `store_id`,
             `relname`)
             VALUES(
             #{username},
             #{password},
             NOW(),
             #{phone},
             #{store_id},
             #{relname}        
             )
    </insert>
    

     <update id="updateTokenDB">
        UPDATE `sys_user` SET
        token = #{token}
        WHERE username = #{username}
    </update>
    
    <select id="getTokenFromDB" parameterType="String" resultType="String"> 
	    	SELECT 
	    		  `token`
	    	FROM 	`sys_user`
	    	WHERE 
	    		username = #{username}
    </select>
    
    <select id="findMyStoreUser" parameterType="map" resultType="com.cubic.api.model.home.CurrentUser">
    	SELECT 
    			      su.`id`,
					  su.`user_no`,
					  su.`username`,
					  su.`avatar`,
					  su.`resume`,
					  su.`register_time`,
					  su.`phone`, 
					  su.`store_id`,
					  su.`relname`,
					  su.sign,
					  bs.`store_name` 
    	FROM sys_user su
    	LEFT JOIN `base_store` bs ON su.`store_id`=bs.`id`
    	LEFT JOIN sys_user_role sur ON sur.user_id=su.id
    	WHERE 
    	   su.username<![CDATA[<>]]>'admin'
    	   and su.`store_id`=#{storeId}
    	   <if test="role!=null and role!=1"><!-- 权限不是管理员不能看管理员的账号 -->
    	   	and sur.role_id<![CDATA[<>]]>1
    	   </if>
    	   <if test="searchText!=null and searchText!=''"><!-- 条件查询经纪人名称或编号 -->
    	 	  and (su.relname=#{searchText} or su.user_no="VK000"#{searchText})
   		   </if>
   		 	ORDER BY  su.`username`  
    </select>
    <update id="updateSign" parameterType="map">
    	UPDATE sys_user
    	SET  sign=#{sign}
    			<if test="sign==0">
    				,token=NULL
    			</if>
    	WHERE 
    		id=#{id}
    </update>
    
    
    <select id="UserCut" parameterType="map" resultType="com.cubic.api.model.home.CurrentUser">
    	SELECT suer.username,bs.store_name
    	FROM  sys_user suer
    	LEFT JOIN sys_user su ON su.username=#{username}
    	LEFT JOIN  base_store bs ON bs.`id`!=su.`store_id`
    	LEFT JOIN sys_user_role sur ON sur.user_id=su.id
    	LEFT JOIN sys_user_role sur2 ON sur2.user_id=suer.id
    	WHERE
		suer.`store_id`=bs.`id`
		AND sur2.`role_id`=sur.`role_id`
		AND suer.`username`!=su.`username`
		AND suer.`phone`=su.`phone` 		
		AND suer.`relname`=su.relname 
		GROUP BY bs.store_name 
    </select>
</mapper>